.Header {
    position: fixed;
    background-color: rgba(3, 37, 65, 1);
    padding: 24px 0;
    width: 100%;
    z-index: 10;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10%;

        &__left,
        &__right {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;

            img {
                width: 200px;
            }
        }
    }

    .text {
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin-left: 11px;
        cursor: pointer;
    }
}