.header {
  // background-image: url("https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/tmU7GeKVybMWFButWEGl2M4GeiP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 74px;

  .header__bg {
    background-color: rgba(42, 28, 28, 0.62);
    height: 100vh;
    color: #fff;
  }

  .header__container {
    padding: 30px 15%;
  }

  .ant-typography {
    color: #fff;
  }
}